{% extends 'base.html.twig' %}

{% block title %}{{famille.libelle}}{% endblock %}

{% block titrePage %}Affichage de la famille : {{famille.libelle}} {% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-11">

            <div>{{famille.description}}</div>
            <br />

            <div class="row">
                {% for animal in famille.animaux %}
                    <div class="col-12 col-md-6">
                        <div class="row align-items-center">
                            <div class="col-5 text-center">
                                <img src="{{ asset('images/' ~ animal.image ) }}" class="img-fluid" />
                            </div>
                            <div class="col">
                                <h2>
                                    <a href="{{ path('afficher_animal', {'id' : animal.id}) }}">
                                        {{ animal.nom }}
                                    </a>
                                </h2>
                                <div>{{ animal.description }}</div>
                                <div>
                                    <a class="btn btn-info" href="">{{ animal.famille.libelle }}</a>
                                </div>
                            </div>
                        </div>
                    </div>                 
                {% endfor %}
            </div>

            <hr />
        </div>
    </div>

{% endblock %}
