{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}
{% block titrePage %}Liste des familles {% endblock %}

{% block body %}

    {% for famille in familles %}
        <div class="row justify-content-md-center">
            <div class="col-11">
                <h2>{{famille.libelle}}</h2>
                <div>{{famille.description}}</div>

                <br />

                <div class="row">
                    {% for animal in famille.animaux %}
                        <div class="col-12 col-md-6">
                            <div class="row align-items-center">
                                <div class="col-5 text-center">
                                    <img src="{{ asset('images/' ~ animal.image ) }}" class="img-fluid" />
                                </div>
                                <div class="col">
                                    <h2>
                                        <a href="{{ path('afficher_animal', {'id' : animal.id}) }}">
                                            {{ animal.nom }}
                                        </a>
                                    </h2>
                                    <div>{{ animal.description }}</div>
                                    <div>
                                        <a class="btn btn-info" href="{{ path('afficher_famille', {'id':famille.id}) }}">
                                            {{ animal.famille.libelle }}
                                        </a>
                                    </div>
                                    <div>
                                        <p>Présent sur les continents :</p>
                                        <div>
                                            {% for continent in animal.continents %}
                                                <a class="btn btn-warning" href="{{ path('afficher_continent', {'id':continent.id}) }}">
                                                    {{ continent.libelle }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if animal.disposes|length > 0 %}
                                        <div>
                                            <p>Personnes possédant cet animal :</p>
                                            <div>
                                                {% for dispose in animal.disposes %}
                                                <a class="btn btn-secondary" href="{{ path('afficher_personne', {'id':dispose.personne.id}) }}">
                                                    {{ dispose.personne.nom }}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>                 
                    {% endfor %}
                </div>

                <hr />
            </div>
        </div>
        
    {% endfor %}

{% endblock %}
