{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block titrePage %}Liste des animaux{% endblock %}

{% block body %}

    {% for animal in animaux %}
        <div class="row align-items-center m-4">
            <div class="col-2 text-center">
                <img src="{{ asset('images/' ~ animal.image ) }}" />
            </div>
            <div class="col-auto">
                <h2>
                    <a href="{{ path('afficher_animal', {'id' : animal.id}) }}">
                        {{ animal.nom }}
                    </a>
                </h2>
                <div>{{ animal.description }}</div>
                <div>
                    <a class="btn btn-info" href="{{ path('afficher_famille', {'id':animal.famille.id}) }}">
                        {{ animal.famille.libelle }}
                    </a>
                </div>
                <div>
                    <p>Présent sur les continents :</p>
                    <div>
                        {% for continent in animal.continents %}
                            <a class="btn btn-warning" href="{{ path('afficher_continent', {'id':continent.id}) }}">
                                {{ continent.libelle }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% if animal.disposes|length > 0 %}
                    <div>
                        <p>Personnes possédant cet animal :</p>
                        <div>
                            {% for dispose in animal.disposes %}
                            <a class="btn btn-secondary" href="{{ path('afficher_personne', {'id':dispose.personne.id}) }}">
                                {{ dispose.personne.nom }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}

{% endblock %}
