{% extends 'base.html.twig' %}

{% block title %}Continents{% endblock %}
{% block titrePage %}Liste des continents {% endblock %}

{% block body %}

    {% for continent in continents %}
        <div class="row justify-content-md-center">
            <div class="col-11">
                <h2>
                    <a href="{{ path('afficher_continent', {'id':continent.id}) }}" >{{continent.libelle}}</a>
                </h2>

                <br />

                <div class="row">
                    {% for animal in continent.animaux %}
                        <div class="col-12 col-md-6 p-2">
                            <div class="row align-items-center">
                                <div class="col-5 text-center">
                                    <img src="{{ asset('images/' ~ animal.image ) }}" class="img-fluid" />
                                </div>
                                <div class="col">
                                    <h2>
                                        <a href="{{ path('afficher_animal', {'id' : animal.id}) }}">
                                            {{ animal.nom }}
                                        </a>
                                    </h2>
                                    <div>{{ animal.description }}</div>
                                    <div>
                                        <a class="btn btn-info" href="{{ path('afficher_famille', {'id':animal.famille.id}) }}">
                                            {{ animal.famille.libelle }}
                                        </a>
                                    </div>

                                    <div>
                                        <p>Présent sur les autres continents :</p>
                                        <div>
                                            {% for continentAnimal in animal.continents %}
                                                {% if continentAnimal.id != continent.id %}
                                                    <a class="btn btn-warning" href="{{ path('afficher_continent', {'id':continentAnimal.id}) }}">
                                                        {{ continentAnimal.libelle }}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div>
                                        <p>Personnes possédant cet animal :</p>
                                        <div>
                                            {% for dispose in animal.disposes %}
                                            <a class="btn btn-secondary" href="{{ path('afficher_personne', {'id':dispose.personne.id}) }}">
                                                {{ dispose.personne.nom }}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                 
                    {% endfor %}
                </div>
                <hr />
            </div>
        </div>
        
    {% endfor %}

{% endblock %}
